.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
#close .menu{
    display: none;
}
#open .menu{
    height: 100vh;
    width: 70vw;
    background: var(--transparent);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slide-in 0.5s forwards, fade-in 0.5s forwards;
}
.top{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu button{
    border: none;
    padding: 0;
    margin-left: 4vw;
    margin-right: 4vw;
}
.menu button:hover{
    cursor: pointer;
}
.menu svg{
    font-size: 35px;
}
.mLinks{
    width: 60%;
    display: flex;
    flex-direction: column; 
}
.mLinks a{
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
}
.mLinks p{
    margin-bottom: 10%;
}
.mSwitch{
    margin-top: 10%;
}
.mSocials{
    width: 60%;
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(200, 200, 200, 0);
    backdrop-filter: blur(3px);
}
#open .nav{
    display: none;
}
.third{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.image{
    width: 160px;
    height: 160px;
    margin-right: 25%;
    transition: all 0.3s ease-out;
    fill: red;
}
.image:hover{
    transform: scale(1.02);
}
.container{
    width: 38vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--container);
    height: 33px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2),
                0 0 8px var(--shadow);
}
.container a{
    font-size: 14px;
    color: var(--text);
    margin-right: 6%;
    margin-left: 6%;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.3s ease-in;
}
.container a:hover{
    transform: scale(0.97);
}
.navbar button:hover{
    background: none;
    color: black;
    text-shadow: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 8em;
    height: 2em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(50, 50, 50);
    transition: all .4s ease-out;
    border-radius: 10px;
}  
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 3.5em;
    border-radius: 5px;
    left: 0.3em;
    bottom: 0.3em;
    background-color:#FFF;
    transition: .4s;
}
input:checked + .slider {
    background-color: #FFF;
}
input:checked + .slider:before {
    transform: translateX(3.75em);
    background-color: rgb(50,50,50);
}
.mobile{
    display: none;
}
.mobile button{
    padding-right: 20px;
}
@media only screen and (max-width: 1050px){
    .container{
        width: 45vw;
    }
    .container a{
        font-size: 13px;
        margin-right: 5%;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 800px){
    .container{
        display: none;
    }
    #contact{
        display: none;
    }
    .mobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .mobile button{
        border:none;
    }
    .mobile svg{
        font-size: 50px;
    }
    .mobile svg:hover{
        cursor: pointer;
    }
    .image{
        padding-right: 0;
        padding-left: 5%;
    }
}
@keyframes slide-in{
    0%{
        transform: translateX(-80vw);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes fade-in{
    100%{
        opacity: 1;
    }
  }