.wrap{
    height: 100%;
}
.main h1, .main h3{
    color: var(--text);
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
}
#close .screen{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#open .screen{
    display: none;
}
.screen h1{
    font-size: 60px;
}
.screen button{
    font-size: 20px;
}
  
#close .project{
    display: none;
}
#open .project{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: fade-in 2s forwards;
}
.title{
    flex: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title h1{
    writing-mode: vertical-rl;
    font-size: 80px;
    text-align: center;
    padding-left: 5%;
}
.title button{
    margin-top: 20%;
    padding: 10px 20px;
    margin-bottom: 10%;
}
.projectContainer{
    flex: 85%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex{
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 900px){
    #open{
        height: 100%;
    }
    #open .project{
        display: flex;
        flex-direction: column;
        align-item: center;
        justify-content: center;
    }
    .title{
        display: flex;
        width: 75%;
        flex-direction: row;
        justify-content: left;
        align-items: center;;
    }
    .title button{
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 3vw;
        padding: 8px 15px;
        text-align: center;
    }
    .title h1{
        writing-mode: horizontal-tb;
        margin-right: 2vw;
        padding: 0;
        font-size: 40px;
    }
    .projectContainer{
        flex-direction: column;
    }
    .projectContainer h3{
        font-size: 15px;
        margin-top: 10px;
    }
    .projectContainer h4{
        font-size: 13px;
        margin-bottom: 0;
    }
    .projectContainer p{
        font-size: 11px;
    }
}
@keyframes fade-in{
    100%{
        opacity: 1;
    }
  }